.home {
  display: flex;
  

  .homeContainer {
    flex: 6;
    

  

  .binOne{

    font-size: 30px;
    padding: 100px 185px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    color: black;

    .binButton {
      text-decoration: none;
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }
    


  }
  .binTwo{

    font-size: 30px;
    padding: 100px 185px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    color: black;

    .binButton {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }
    


  }

  .binThree{

    font-size: 30px;
    padding: 100px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    color: black;

    .binButton {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }
    


  }
  
  }
}