button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  
  
}

button:hover {
  background-color: #141212;
}


.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  //font-size: 14px;
  color: #555;
  
  .wastebin{
    background-color: #4CAF50; /* Green */
    border-style:  solid;
    border-color: black;
    border-width: 1px;
    color: white;
    padding: 8px 275px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    
    
    
    
    

  }

  .history{
    background-color: #4CAF50; /* Green */
    border-style:  solid;
    border-color: black;
    border-width: 1px;
    color: white;
    padding: 8px 275px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }
  
  .Employee{
    background-color: #4CAF50; /* Green */
    border-style:  solid;
    border-color: black;
    border-width: 1px;
    color: white;
    padding: 8px 245px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }

  
    
  

    
}
